#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: karantina;
}
/* Example to remove margin and padding */
.MuiContainer-root.MuiContainer-maxWidthLg.css-1oqqzyl-MuiContainer-root {
  margin: 0 !important;
  padding: 0 !important;
}

/* Custom styles for your component */
.custom-container {
  margin: 0 auto; /* Center align */
  padding: 1rem;  /* Adjust padding as needed */
}



.karantina-light {
  font-family: "Karantina", system-ui;
  font-weight: 300;
  font-style: normal;
}

.karantina-regular {
  font-family: "Karantina", system-ui;
  font-weight: 400;
  font-style: normal;
}

.karantina-bold {
  font-family: "Karantina", system-ui;
  font-weight: 700;
  font-style: normal;
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
