.form-container {
  display: flex;
  margin-top: 5vw;
  flex-direction: column;
  min-height: 100vh;
}

.form-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.form-fields {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.left-side, .right-side {
  width: 45%;
}

.submit-button {
  width: 100%;
  margin-top: 0.5px;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media (max-width: 960px) {
  .form-fields {
    flex-direction: column;
  }
  
  .left-side, .right-side {
    width: 100%;
  }
}

/* תנאי לגודל של סמארטפון */
@media (max-width: 600px) {
  body {
    height: auto;
    overflow-y: auto;
  }

  .form-container {
    padding-bottom: 2rem;
  }

  .form-content {
    overflow-y: visible;
  }

  .left-side, .right-side {
    margin-bottom: 1rem;
  }

  /* הקטנת גודל הכותרות */
  .headers h1 {
    font-size: 1.5rem !important; /* עבור הכותרת הראשית */
  }

  .headers h5 {
    font-size: 1rem !important; /* עבור הכותרת המשנית */
  }

  h6 {
    font-size: 0.9rem !important; /* עבור כותרות הקטגוריות (פרטי אב, פרטי אם) */
  }
}