#logoImg {
  width: 30vw;
  margin-top: -3vw;
}
#loginButton {
  color: #6e921c;
  border-color: #6e921c;
  position: absolute;
  top: 10px;
  left: 10px;
}

#titleSection {
  text-align: center;
}

#titleSection > h1 {
  font-size: 8em;
  margin: 0.5vw;
}

#titleSection > h2 {
  font-size: 2em;
  margin: 0.5vw;
}
@media screen and (max-width: 768px) {
  #logoImg {
    width: 90vw;
    margin-top: 0;
  }

  #titleSection > h1 {
    font-size: 3em; 
  }

  #titleSection > h2 {
    font-size: 1.5em; 
  }

  #loginButton {
    font-size: 0.8em; 
  }
}